[package]
name = "tiff"
version = "0.9.1"
edition = "2021"
resolver = "2"

# note: when changed, also update test runner in `.github/workflows/rust.yml`
rust-version = "1.61.0"

license = "MIT"
description = "TIFF decoding and encoding library in pure Rust"
authors = ["The image-rs Developers"]

repository = "https://github.com/image-rs/image-tiff"
categories = ["multimedia::images", "multimedia::encoding"]

exclude = ["tests/images/*", "tests/fuzz_images/*"]

[dependencies]
weezl = "0.1.0"
jpeg = { package = "jpeg-decoder", version = "0.3.0", default-features = false }
flate2 = "1.0.20"
futures = "0.3.30"
tokio-util = { version = "0.7.10", features = ["compat"] }
async-trait = "0.1.82"

[dev-dependencies]
criterion = "0.3.1"
# use rt since most is io-bound
tokio = {version = "1.29.1", features = ["macros", "fs", "rt-multi-thread"] }

[[bench]]
name = "lzw"
harness = false
